## Import Libraries and Load Data

In [1]:
# Import libraries

import os
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.decomposition import TruncatedSVD
import patsy

# Set seed
np.random.seed(4031)

In [2]:
# Data file locations and names

project_root_dir = "Data"
project_subdir_prefix = "fold_"
train_data_filename = "train.csv"
test_data_filename = "test.csv"


# The number of train/test data folders and the target RMSE for each
# train/test split in each folder

n_datasets = 10

In [3]:
# Get list of data subfolders, each with a separate training and test set.
# fold1 - fold5 have target RMSE 0.125, and fold6 - fold10 have target RMSE 0.135.

os_walk = os.walk(project_root_dir)
data_subdir_list = [subdirs for root, subdirs, files in os_walk][0]
n_subdirs = len(data_subdir_list)

assert(n_subdirs == n_datasets)

In [4]:
# Lists for training and test datasets

train_datasets = []
test_datasets = []


# Loop over subfolders and read in training/test datasets and test house sale prices.
# Use a loop instead of using os.walk directly to avoid "fold10" immediately following "fold1".

for subdir_num in np.arange(n_subdirs) + 1:
    subdir_num_str = str(subdir_num)
    train_datasets.append(pd.read_csv(os.path.join(project_root_dir,
                                                   project_subdir_prefix + subdir_num_str,
                                                   train_data_filename)))
    test_datasets.append(pd.read_csv(os.path.join(project_root_dir,
                                                   project_subdir_prefix + subdir_num_str,
                                                   test_data_filename)))

## Define Scoring function

In [5]:
# Define a WMAE function for scoring

def wmae():
    file_path = 'Data/test_with_label.csv'
    test = pd.read_csv(file_path)
    num_folds = 10
    wae = []

    for i in range(num_folds):
        file_path = f'Data/fold_{i+1}/mypred.csv'
        test_pred = pd.read_csv(file_path)

        # Left join with the test data
        new_test = test_pred.merge(test, on=['Date', 'Store', 'Dept'], how='left')

        # Compute the Weighted Absolute Error
        actuals = new_test['Weekly_Sales']
        preds = new_test['Weekly_Pred']
        weights = new_test['IsHoliday'].apply(lambda x: 5 if x else 1)
        wae.append(sum(weights * abs(actuals - preds)) / sum(weights))

    return wae

## Preprocess Data

In [294]:
#Loop through data and pull apart date into week and year
def preprocess(data):
    #Split date into useful features
    tmp = pd.to_datetime(data['Date'])
    data['Wk'] = tmp.dt.isocalendar().week
    data['Yr'] = tmp.dt.year
    data['Wk'] = pd.Categorical(data['Wk'], categories=[i for i in range(1, 53)])  # 52 weeks 

    #One hot encode Wk
    data = pd.get_dummies(data, columns=['Wk'], prefix='Week')

    return data

## SVD Implementation (not working)

In [ ]:
for j in range(n_datasets):
    train = train_datasets[j]
    test = test_datasets[j]

    # Initialize the DataFrame to store predictions
    test_pred = pd.DataFrame()

    fold_train = preprocess(train)
    fold_test = preprocess(test)

    stores = fold_train["Store"].unique()
    depts = fold_train["Dept"].unique()
    years = fold_train["Yr"].unique()

    for store in stores:
        for dept in depts:
            for year in years:
                #Find training and test data within same store and then same department
                train = fold_train[(fold_train["Store"] == store) & (fold_train["Dept"] == dept) & (fold_train["Yr"] == year)]
                test = fold_test[(fold_test["Store"] == store) & (fold_test["Dept"] == dept) & (fold_test["Yr"] == year)]

                #abort if the train data is non-existant (i.e., this combo of store/dept doesnt appear in data)
                if len(train) == 0:
                    continue

                Y_train = train["Weekly_Sales"]
                X_train = train.drop(["Weekly_Sales", "Date"], axis=1)

                X_test = test

                #Keep Store, dept, and date info for later merging
                tmp_pred = X_test[['Store', 'Dept', 'Date']]
                X_test = X_test.drop(["Date"], axis=1)


                #Implement SVD
                #n_components=5
                #svd_df = pd.DataFrame(svd_result, columns=[[f'SVD_{i}' for i in range (n_components)]]) 
                svd = TruncatedSVD() 
                svd_result = svd.fit_transform(X_train)
                svd_df = pd.DataFrame(svd_result) 

                #Train model on only the features SVD selected
                model = sm.OLS(Y_train, svd_df).fit()
                mycoef = model.params.fillna(0)
                
                #Fit SVD columns for test set
                X_test = svd.transform(X_test)
                
                #Predict Y
                tmp_pred['Weekly_Pred'] = np.dot(X_test, mycoef)

                #Readd context of store, dept, and date
                test_pred = pd.concat([test_pred, tmp_pred], ignore_index=True)
            
        
    test_pred['Weekly_Pred'].fillna(0, inplace=True)
    # Save the output to CSV
    file_path = f'Data/fold_{j+1}/mypred.csv'
    print(f'fold_{j+1} processed')
    test_pred.to_csv(file_path, index=False)

## Linear Refactor (not working)

In [ ]:
for j in range(n_datasets):
    train = train_datasets[j]
    test = test_datasets[j]

    # Initialize the DataFrame to store predictions
    test_pred = pd.DataFrame()

    fold_train = preprocess(train)
    fold_test = preprocess(test)

    stores = fold_train["Store"].unique()
    depts = fold_train["Dept"].unique()
    years = fold_train["Yr"].unique()

    for store in stores:
        for dept in depts:
            for year in years:
                #Find training and test data within same store and then same department
                train = fold_train[(fold_train["Store"] == store) & (fold_train["Dept"] == dept) & (fold_train["Yr"] == year)]
                test = fold_test[(fold_test["Store"] == store) & (fold_test["Dept"] == dept) & (fold_test["Yr"] == year)]

                #abort if the train data is non-existant (i.e., this combo of store/dept doesnt appear in data)
                if len(train) == 0:
                    continue

                Y_train = train["Weekly_Sales"]
                X_train = train.drop(["Weekly_Sales", "Date"], axis=1)

                X_test = test

                #Keep Store, dept, and date info for later merging
                tmp_pred = X_test[['Store', 'Dept', 'Date']]
                X_test = X_test.drop(["Date"], axis=1)

                X_train = X_train.drop(["Store", "Dept", "IsHoliday"], axis=1)
                X_test = X_test.drop(["Store", "Dept", "IsHoliday"], axis=1)

                #Add intercept columns
                X_train["Intercept"] = 1
                X_test["Intercept"] = 1

                #Cast one hot bools to ints
                X_train = X_train.astype(int)
                X_test = X_test.astype(int)

                #Train model on only the features SVD selected
                model = sm.OLS(Y_train, X_train).fit()
                mycoef = model.params.fillna(0)
                
                #Predict Y
                tmp_pred['Weekly_Pred'] = np.dot(X_test, mycoef)

                #Readd context of store, dept, and date
                test_pred = pd.concat([test_pred, tmp_pred], ignore_index=True)
            
        
    test_pred['Weekly_Pred'].fillna(0, inplace=True)
    # Save the output to CSV
    file_path = f'Data/fold_{j+1}/mypred.csv'
    print(f'fold_{j+1} processed')
    test_pred.to_csv(file_path, index=False)

## Original Code (OLS only)

In [6]:
#OLS method requires a different preprocess function

def preprocess(data):
    #Split date into useful features
    tmp = pd.to_datetime(data['Date'])
    data['Wk'] = tmp.dt.isocalendar().week
    data['Yr'] = tmp.dt.year
    data['Wk'] = pd.Categorical(data['Wk'], categories=[i for i in range(1, 53)])  # 52 weeks 

    return data

In [ ]:
#Original OLS model

# Loop over folds
for j in range(n_datasets):
    
    # Get a pair of training and test sets
    train = train_datasets[j]
    test = test_datasets[j]

    test_pred = pd.DataFrame()

    # Identify the distinct store/dept pairs shared by the training and test set.
    train_pairs = train[['Store', 'Dept']].drop_duplicates(ignore_index=True)
    test_pairs = test[['Store', 'Dept']].drop_duplicates(ignore_index=True)
    unique_pairs = pd.merge(train_pairs, test_pairs, how = 'inner', on =['Store', 'Dept'])

    # Join the distinct store/dept pairs to the training set.
    # Why left join? When would training data not be available?
    train_split = unique_pairs.merge(train, on=['Store', 'Dept'], how='left')
    
    # Add numeric column for the year and a categorical column for week # to the training set
    train_split = preprocess(train_split)
    # Get design matrices for training y and X.
    # y is just the target variable, Weekly_Sales.
    # X has pivoted weeks, where individual weeks are separate 0/1 columns.
    y, X = patsy.dmatrices('Weekly_Sales ~ Weekly_Sales + Store + Dept + Yr  + Wk', 
                        data = train_split, 
                        return_type='dataframe')
    # Get dictionary where keys are (Store, Dept) tuples, and values are the
    # \"Weekly_Sales + Store + Dept + Yr + Wk\" design matrices corresponding to each key.
    # The design matrices include an Intercept column with value 1.
    train_split = dict(tuple(X.groupby(['Store', 'Dept'])))

    
    # Now join the distinct store/dept pairs to the test set.
    # Same question: why left join? When would training data not be available?
    test_split = unique_pairs.merge(test, on=['Store', 'Dept'], how='left')
    # Add numeric column for the year and a categorical column for week # to the test set
    test_split = preprocess(test_split)
    # Get design matrices for text y and X.
    # y is the Year, and the design matrix is \"Store + Dept + Yr + Wk\".
    # Note that test sets don't have the Weekly_Sales target variable.
    # Why save Year as y?
    y, X = patsy.dmatrices('Yr ~ Store + Dept + Yr  + Wk', 
                        data = test_split, 
                        return_type='dataframe')
    # Re-add Date column to the design matrix X
    X['Date'] = test_split['Date']
    # Get dictionary where keys are (Store, Dept) tuples, and values are the
    # \"Yr  + Wk + Date\" design matrices corresponding to each key.
    test_split = dict(tuple(X.groupby(['Store', 'Dept'])))

    # Get the training (store, dept) tuples.
    # SHOULD be the same keys as in test, given the left joins above.
    keys = list(train_split)

    # Loop over (store, dept) tuples
    for key in keys:
        # Get training and test design matrices corresponding to (store, dept)
        X_train = train_split[key]
        X_test = test_split[key]
    
        # Target variable for (store, dept)
        Y = X_train['Weekly_Sales']
        # Drop ID and target to get just a table of predictors
        X_train = X_train.drop(['Weekly_Sales','Store', 'Dept'], axis=1)
        
        # Identify columns that are all zero in training predictors, and drop them
        # from both training and test X.
        # This should drop weeks that are not represented in the training data.
        # How does this affect test X? Are there cases where all test weeks would be dropped?
        cols_to_drop = X_train.columns[(X_train == 0).all()]
        X_train = X_train.drop(columns=cols_to_drop)
        X_test = X_test.drop(columns=cols_to_drop)

        
        # Identify X training columns that are highly collinear with the columns to the left.
        # Note that this doesn't check the Intercept column.
        cols_to_drop = []
        for i in range(len(X_train.columns) - 1, 1, -1):  # Start from the last column and move backward
            col_name = X_train.columns[i]
            # Extract the current column and all previous columns
            tmp_Y = X_train.iloc[:, i].values
            tmp_X = X_train.iloc[:, :i].values

            coefficients, residuals, rank, s = np.linalg.lstsq(tmp_X, tmp_Y, rcond=None)
            if np.sum(residuals) < 1e-10:
                    cols_to_drop.append(col_name)
                
        # Drop those collinear columns from both training and test X.
        X_train = X_train.drop(columns=cols_to_drop)
        X_test = X_test.drop(columns=cols_to_drop)
        print(X_train)
        # Fit a regular ordinary least squares model on training Weekly_Sales.
        model = sm.OLS(Y, X_train).fit()
        mycoef = model.params.fillna(0)
        
        tmp_pred = X_test[['Store', 'Dept', 'Date']]
        X_test = X_test.drop(['Store', 'Dept', 'Date'], axis=1)
        
        tmp_pred['Weekly_Pred'] = np.dot(X_test, mycoef)
        test_pred = pd.concat([test_pred, tmp_pred], ignore_index=True)
        
    test_pred['Weekly_Pred'].fillna(0, inplace=True)
    # Save the output to CSV
    file_path = f'Data/fold_{j+1}/mypred.csv'
    print(f'fold_{j+1} processed')
    test_pred.to_csv(file_path, index=False)

## Evaluate Predictions

In [ ]:
wae = wmae()
for value in wae:
    print(f"\t{value:.3f}")
print(f"{sum(wae) / len(wae):.3f}")

Linear errors

	2049.347
	1467.113
	1446.882
	1595.628
	2334.678
	1675.221
	1720.828
	1427.286
	1443.787
	1444.677
1660.545

## Edit original OLS: group stores by year and add SVD/PCA

In [23]:
# Try on a single fold: j = 2
j = 2

# Components to return from SVD. This is from the example in Campuswire post #364:
# https://campuswire.com/c/G06C55090/feed/364
n_components = 8
temp_seed = 4031
    
# Get a pair of training and test sets
train = train_datasets[j]
test = test_datasets[j]

test_pred = pd.DataFrame()

# Identify the distinct store/dept pairs shared by the training and test set.
# Will only process these.

train_pairs = train[['Store', 'Dept']].drop_duplicates(ignore_index=True)
test_pairs = test[['Store', 'Dept']].drop_duplicates(ignore_index=True)
unique_pairs = pd.merge(train_pairs, test_pairs, how = 'inner', on =['Store', 'Dept'])

# Join the distinct store/dept pairs to the training set.
# Why left join? When would training data not be available?
train_split = unique_pairs.merge(train, on=['Store', 'Dept'], how='left')

# Prep train data for SVD/PCA.
# For each department, construct a dataframe consisting of:
# rows = dates; columns = store numbers; and values = weekly sales.

# Get columns needed for SVD
train_store_dept_date_sales = train_split[["Store", "Dept", "Date", "Weekly_Sales"]]
# Group by Dept. Create dict where key = Dept and value = dataframe of Store/Date/Weekly_Sales.
train_split = dict(tuple(train_store_dept_date_sales.groupby(["Dept"])))

# Pivot each department's dataframe so that sales dates are rows and stores are columns, with values = Weekly_Sales.
# Fill in missing values with zeroes.
train_split = {dept:df.drop(columns=["Dept"]).pivot(index="Date", columns="Store", values="Weekly_Sales").reset_index().fillna(0) \
               for dept, df in train_split.items()}
# Split sales dates out from remaining data
train_sales_dates = {dept:df.Date for dept, df in train_split.items()}
# Get just the sales figures for each dept
train_X = {dept:df.drop(columns=["Date"]) for dept, df in train_split.items()}

#train_X[1]
{dept:df.shape for dept, df in train_X.items()}

# Perform SVD and choose the n_components most influential components.
#svd = TruncatedSVD(n_components=n_components, random_state=temp_seed)
#svd.fit_transform(train_X[1])
# Collect dict of reduced-dimension training data, one entry per department.
#svd_dict = {dept:svd.fit_transform(df) for dept, df in train_X.items()}
#svd_dict[1]

{1: (73, 45),
 2: (73, 45),
 3: (73, 45),
 4: (73, 45),
 5: (73, 45),
 6: (73, 42),
 7: (73, 45),
 8: (73, 45),
 9: (73, 45),
 10: (73, 45),
 11: (73, 45),
 12: (73, 45),
 13: (73, 45),
 14: (73, 45),
 16: (73, 45),
 17: (73, 45),
 18: (73, 37),
 19: (73, 33),
 20: (73, 45),
 21: (73, 45),
 22: (73, 41),
 23: (73, 43),
 24: (73, 41),
 25: (73, 45),
 26: (73, 43),
 27: (73, 43),
 28: (73, 43),
 29: (73, 38),
 30: (73, 37),
 31: (73, 45),
 32: (73, 41),
 33: (73, 39),
 34: (73, 39),
 35: (73, 37),
 36: (73, 37),
 37: (73, 18),
 38: (73, 45),
 40: (73, 45),
 41: (73, 40),
 42: (73, 45),
 43: (1, 1),
 44: (73, 41),
 45: (73, 28),
 46: (73, 45),
 47: (67, 18),
 48: (73, 15),
 49: (73, 33),
 50: (73, 11),
 51: (73, 20),
 52: (73, 44),
 54: (73, 37),
 55: (73, 41),
 56: (73, 43),
 58: (73, 32),
 59: (73, 45),
 60: (73, 45),
 65: (73, 1),
 67: (73, 45),
 71: (73, 38),
 72: (73, 43),
 74: (73, 45),
 78: (22, 11),
 79: (73, 45),
 80: (73, 44),
 81: (73, 45),
 82: (73, 45),
 83: (73, 41),
 85: (73, 42),
 87: (73, 45),
 90: (73, 45),
 91: (73, 45),
 92: (73, 45),
 93: (73, 41),
 94: (73, 45),
 95: (73, 45),
 96: (73, 33),
 97: (73, 44),
 98: (73, 41),
 99: (33, 20)}

In [13]:
train_split[2].drop(columns=["Dept"]).pivot(index="Date", columns="Store", values="Weekly_Sales").reset_index()

Store,Date,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,2010-02-05,50605.27,74661.16,17566.72,91481.24,11955.45,50810.04,21129.93,37550.10,24917.84,...,15606.15,16121.22,9601.89,52359.34,27089.38,43875.06,14983.84,22720.10,8577.33,38214.01
1,2010-02-12,44682.74,65487.46,15177.30,85763.19,11794.51,46456.01,21635.61,35205.40,22488.29,...,15127.60,14419.56,10201.55,50874.07,25187.64,38415.81,14330.30,19942.01,8169.20,27384.43
2,2010-02-19,47928.89,70853.58,15676.11,86570.21,11707.09,48127.95,21900.24,38435.19,22173.92,...,15244.69,15382.87,9700.21,56270.81,25082.06,39140.52,15024.70,23421.42,7951.32,39601.72
3,2010-02-26,44292.87,64963.90,15112.23,84405.45,11452.33,46128.34,21804.64,34999.91,22311.77,...,15600.86,15354.55,10126.21,52825.12,24338.23,40876.97,14988.04,21550.61,8990.75,34421.20
4,2010-03-05,48397.98,68428.64,16477.28,87922.48,11300.69,52939.75,21228.66,36528.11,23609.13,...,15170.52,15732.79,10863.06,56766.01,25673.66,41030.89,15018.05,22607.30,8581.43,34631.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2011-05-27,45072.11,64755.07,16396.82,93786.26,13005.92,49611.81,17519.49,34057.22,24921.08,...,13473.34,16890.99,10381.16,67898.16,25729.44,47129.05,15458.19,20831.05,9572.17,34991.20
69,2011-06-03,47844.27,65848.98,18860.29,95548.42,13791.92,56378.34,19234.93,36601.08,27252.62,...,12261.35,16783.06,10552.41,74980.46,28477.20,50087.94,16478.75,20756.12,9038.64,32532.02
70,2011-06-10,46363.93,66831.49,17134.57,93516.12,12687.22,53504.63,21561.66,35293.99,25906.82,...,12099.80,17710.99,11151.02,68460.66,25203.79,47687.31,16512.57,21112.52,9182.69,35991.25
71,2011-06-17,42939.63,66648.26,16598.43,96510.39,12213.47,50712.17,21189.99,35512.57,26369.13,...,14355.82,16940.94,10567.89,68181.39,27118.87,47584.55,16380.41,21292.31,8810.27,36629.18
72,2011-06-24,42415.81,61507.28,16371.62,90050.58,11739.48,49046.48,24064.38,35052.46,24719.64,...,13109.57,17121.65,10414.89,67846.18,27242.19,46664.95,16037.26,19817.43,9172.96,34571.54

In [15]:
# Pivot each department's dataframe so that sales dates are rows and stores are columns, with values = Weekly_Sales
train_split = {dept:df.drop(columns=["Dept"]).pivot(index="Date", columns="Store", values="Weekly_Sales").reset_index() \
               for dept, df in train_split.items()}
train_split[1]

Store,Date,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,2010-02-05,24924.50,35034.06,6453.58,38724.42,9323.89,25619.00,8970.97,16181.89,12861.40,...,2144.48,11283.23,6732.38,21244.50,18116.85,16971.05,10425.77,6476.76,6871.20,18628.11
1,2010-02-12,46039.49,60483.70,12748.72,69872.44,16861.10,43749.81,14026.65,34262.09,20273.94,...,4091.72,16184.33,9132.55,39584.16,26138.18,30204.01,15725.68,18597.64,12315.65,22416.94
2,2010-02-19,41595.55,58221.52,8918.31,49937.09,11417.67,34750.82,12477.79,22319.25,14819.97,...,3101.57,10722.08,8045.28,23025.91,23172.75,20694.24,13300.99,9939.45,7751.11,28756.53
3,2010-02-26,19403.54,25962.32,4992.00,30107.54,7168.41,19896.08,8602.73,11722.71,10530.98,...,1451.39,9256.03,5951.54,14011.39,14728.82,12816.16,9303.34,6460.56,6014.71,14656.08
4,2010-03-05,21827.90,27372.05,5172.73,31580.69,8344.13,22839.36,9541.12,12979.74,10438.47,...,1510.25,9766.32,6485.19,14875.08,18494.41,15154.51,10244.26,6939.08,6120.60,16608.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,2011-05-27,15741.60,21334.34,5194.21,25035.61,7901.75,16479.47,6616.65,8140.29,8687.90,...,1680.75,8491.25,5549.96,14700.37,13445.91,17880.00,9021.05,5584.23,7716.02,10632.88
69,2011-06-03,16434.15,22174.12,4906.27,25401.86,8175.25,17836.28,7839.66,9182.01,9240.67,...,1810.76,8829.34,5496.54,16575.04,14579.85,16970.53,9004.52,6172.43,8044.30,11142.70
70,2011-06-10,15883.52,21554.22,4790.03,24726.22,8170.13,18069.27,7728.34,8570.93,8963.92,...,1816.06,9983.83,5555.61,14498.75,13945.42,17552.61,9408.68,5450.76,7632.33,10312.84
71,2011-06-17,14978.09,22431.56,5738.30,27152.27,8157.72,17045.25,7781.62,9379.33,8638.83,...,1828.68,9502.31,5022.86,14906.77,14417.44,17648.40,8472.14,5580.68,7580.63,11742.00
72,2011-06-24,15682.81,21426.72,4484.47,26859.67,8392.34,19347.14,8561.67,8113.01,8651.38,...,1533.18,9345.12,5126.79,13960.26,15092.44,18820.51,8533.29,5696.96,7377.88,11570.03

In [16]:
len(train_split)

79

In [25]:
scratch_X = train_X[65]
scratch_X

Store        34
0      41057.25
1      39799.36
2      42908.44
3      40515.35
4      49353.20
..          ...
68     46790.83
69     43607.42
70     39256.49
71     38254.73
72     39678.65

[73 rows x 1 columns]

In [28]:
for i in range(35, 50):
    scratch_X[str(i)] = 0
    
scratch_X

Store        34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49
0      41057.25   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1      39799.36   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
2      42908.44   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
3      40515.35   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
4      49353.20   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
..          ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
68     46790.83   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
69     43607.42   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
70     39256.49   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
71     38254.73   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
72     39678.65   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0

[73 rows x 16 columns]

In [29]:
svd = TruncatedSVD(n_components=8, random_state=4031)
svd.fit_transform(train_X[1])

array([[ 1.48807268e+05, -9.99353517e+03, -3.18608963e+01,
        -4.37803668e+03, -2.67268940e+03, -3.67391331e+03,
        -3.71424484e+03, -1.91465438e+03],
       [ 2.41045082e+05, -3.02587043e+04,  1.69425699e+04,
         1.30125058e+04,  7.44887881e+03, -1.43381733e+04,
        -6.22495960e+03,  4.44900402e+03],
       [ 1.84280398e+05, -2.67636306e+04,  1.77219628e+04,
        -1.38735259e+04, -7.91462081e+03, -8.82273176e+03,
        -8.56182600e+03, -1.38090735e+02],
       [ 1.12611339e+05, -1.28745480e+04,  6.13199188e+01,
        -4.78428038e+03, -7.68655354e+03, -1.06196543e+02,
         2.69388836e+03,  1.27912358e+03],
       [ 1.26443571e+05, -9.42570471e+03, -1.85355589e+03,
        -6.87753006e+03, -9.43867658e+03, -6.61670766e+02,
         9.00026200e+02,  1.90892115e+03],
       [ 1.35863547e+05, -2.56713770e+03, -5.22163212e+03,
        -8.46320284e+03, -5.94078955e+03, -5.81386135e+02,
        -7.32659014e+02, -2.34759150e+03],
       [ 1.45204659e+05,  3.42046684e+03, -7.14075980e+03,
        -8.02701808e+03, -6.93745173e+03, -2.77004958e+03,
         6.28796758e+02, -5.96824320e+03],
       [ 1.81420275e+05,  1.54266905e+04, -4.31060079e+03,
        -1.01290401e+04, -1.16682934e+03,  2.07508214e+03,
        -2.33844521e+02, -5.33525959e+03],
       [ 4.37471268e+05,  7.55554305e+04,  7.21529877e+03,
        -2.72584610e+04, -4.69699384e+03, -1.14003328e+03,
        -1.07447692e+04,  4.14125902e+03],
       [ 2.60331378e+05,  4.41390797e+03,  4.61709826e+04,
        -1.35906753e+04, -1.19179325e+04,  7.08032204e+03,
        -2.65645793e+03, -2.32078680e+03],
       [ 1.00058585e+05, -1.21376989e+04,  3.72529371e+02,
        -4.80434781e+03, -4.61708390e+03,  3.28027603e+03,
        -3.18819774e+03,  1.19141649e+03],
       [ 9.59324168e+04, -1.30658320e+04, -1.45159325e+03,
        -2.40996500e+03, -3.87122776e+03,  1.99405803e+03,
        -2.37432688e+03, -7.50421740e+02],
       [ 9.82712426e+04, -1.29501434e+04, -2.74609399e+03,
        -3.20076208e+03, -4.16330596e+03,  6.37468206e+02,
        -1.66553044e+03, -4.75299638e+02],
       [ 1.10125508e+05, -1.43882530e+04, -3.26288358e+03,
        -1.18828440e+03, -3.26019847e+03,  8.85667630e+02,
        -4.34705620e+02, -2.29864095e+03],
       [ 1.10086155e+05, -1.36761219e+04, -3.78678969e+03,
        -1.83983515e+03, -4.01042166e+03, -1.55460238e+02,
        -1.07861780e+03, -1.19911430e+03],
       [ 1.04648091e+05, -1.09026546e+04, -5.44715480e+03,
        -4.60128321e+02, -1.94227609e+03,  1.90486529e+03,
        -1.38509431e+03, -5.13405022e+02],
       [ 1.06775349e+05, -1.04916536e+04, -6.12984088e+03,
         5.03049583e+02, -1.96940144e+03,  1.54855369e+03,
        -1.20812375e+03, -3.69518128e+03],
       [ 1.07060377e+05, -1.20265822e+04, -4.99578205e+03,
        -3.03656397e+03, -2.78051806e+03, -3.11851707e+01,
        -9.74110763e+02, -2.86873697e+03],
       [ 1.07238158e+05, -1.14930320e+04, -6.79928798e+03,
        -5.19925526e+03, -2.64149316e+03, -6.12127765e+02,
        -2.29242343e+03, -2.05224485e+03],
       [ 1.10584701e+05, -9.72582918e+03, -7.21882528e+03,
        -2.80297297e+03, -1.08993825e+03,  8.05225538e+02,
        -3.15827605e+03, -3.42318978e+03],
       [ 1.07405793e+05, -9.81080521e+03, -5.93558006e+03,
        -2.62755310e+03, -1.17546560e+03,  1.61923616e+02,
        -2.29886008e+03, -4.83198412e+03],
       [ 1.12033034e+05, -1.02520881e+04, -8.44429209e+03,
        -3.53191434e+03, -2.22457101e+03, -7.12364408e+01,
        -3.35427068e+03, -3.94608226e+03],
       [ 1.04053380e+05, -1.45222180e+04, -3.48083112e+03,
        -5.07542935e+03, -2.44297314e+03, -4.97001151e+02,
        -1.99488636e+03, -5.54263467e+03],
       [ 1.06743049e+05, -1.28200470e+04, -7.34061804e+03,
        -3.52069333e+03, -2.37408483e+03, -6.30499551e+02,
        -3.45953807e+03, -4.05840293e+03],
       [ 1.04066153e+05, -1.15927389e+04, -7.18718679e+03,
        -2.61222151e+03, -6.36241151e+02,  9.62848855e+02,
        -1.79652668e+03, -3.83506005e+03],
       [ 1.04572145e+05, -1.29459112e+04, -6.75814690e+03,
        -4.06094554e+03, -3.75566709e+03,  1.63615336e+03,
        -2.87975958e+03, -3.23597937e+03],
       [ 1.05647094e+05, -1.23950128e+04, -5.92976877e+03,
        -3.52277787e+03, -3.96694268e+03,  1.04221250e+03,
        -2.60196792e+03, -3.97100069e+03],
       [ 1.03443427e+05, -1.16963812e+04, -7.18231554e+03,
        -3.07076885e+03, -3.42502572e+03,  4.97742062e+02,
        -2.46913688e+03, -1.07932600e+03],
       [ 1.01223485e+05, -1.18343402e+04, -6.97788892e+03,
        -1.00461111e+03, -2.45164458e+03,  8.28866867e+02,
        -3.15098105e+03, -1.00440298e+03],
       [ 1.00380578e+05, -1.16420007e+04, -6.83052080e+03,
        -2.92149780e+03, -1.25679578e+01,  8.17727866e+02,
        -1.90376208e+03,  1.32171187e+03],
       [ 1.07180207e+05, -1.47244867e+04, -6.92787256e+03,
        -5.97318794e+02, -1.50817648e+03, -2.96917229e+02,
         8.33168269e+02,  2.93893748e+03],
       [ 1.11846763e+05, -1.47902805e+04, -7.53937300e+03,
        -4.72182058e+03, -2.85353240e+02, -2.03205440e+03,
        -1.46484843e+03,  2.37752572e+03],
       [ 1.16934886e+05, -1.32109426e+04, -5.83328047e+03,
        -2.97266676e+03,  1.97140625e+03, -1.56227576e+02,
         4.42258229e+02,  4.42377126e+03],
       [ 1.16809922e+05, -1.37555501e+04, -5.35765971e+03,
        -2.30549637e+03,  1.96203155e+03,  1.88609631e+03,
         9.50256038e+02,  1.92257750e+03],
       [ 1.26574013e+05, -1.35595977e+04, -6.85861384e+03,
        -3.75428964e+03,  1.96648630e+03,  2.00626993e+03,
         3.43611448e+03,  3.44354101e+03],
       [ 1.48078074e+05, -1.11927567e+04, -7.52384682e+03,
        -4.16698613e+03,  9.75970643e+02,  3.21627088e+03,
         1.58778430e+03,  1.84629502e+03],
       [ 1.66085397e+05, -7.69607995e+03, -9.88424125e+03,
        -2.23105377e+03,  3.71042948e+03,  1.52011309e+03,
         1.96896509e+02,  3.24992925e+03],
       [ 1.93962337e+05, -1.00353965e+03, -9.78428731e+03,
         7.28866214e+02,  8.99971083e+03,  4.19978519e+03,
        -5.06491632e+03,  6.87807346e+03],
       [ 3.02344071e+05,  1.19459102e+04,  2.46042859e+02,
         2.81591049e+03,  3.50888195e+04,  1.21430390e+04,
        -8.75776762e+03, -6.37148829e+03],
       [ 2.18221345e+05, -1.62600614e+04,  2.32366015e+04,
        -8.92183883e+03,  9.71320972e+03,  1.98592435e+04,
         8.24191751e+03,  3.87124279e+03],
       [ 1.05548378e+05, -1.26683146e+04, -2.73952194e+03,
        -5.31329880e+03, -4.17733569e+03, -2.39802493e+02,
        -2.13546819e+01,  4.80831471e+03],
       [ 1.14440298e+05, -9.69517019e+03, -4.11766353e+03,
        -2.91633943e+03, -3.19287138e+03,  2.06643948e+02,
         1.45499397e+03,  7.30544322e+03],
       [ 1.21719648e+05, -9.01699987e+03, -5.21111383e+03,
        -9.10403993e+02,  1.27731724e+03,  3.70097613e+03,
        -1.83902308e+03,  3.01661840e+03],
       [ 1.59696657e+05, -3.12098734e+03, -5.57540585e+03,
        -3.31827733e+03, -3.51014538e+03,  4.22297137e+03,
         2.93157003e+03,  6.50949576e+03],
       [ 2.24422509e+05,  5.75778718e+03, -1.05276857e+04,
         1.88797436e+03, -8.45548098e+03,  5.23490108e+03,
         3.84337393e+03,  8.72171717e+03],
       [ 3.13895711e+05,  1.12350120e+04, -1.13016510e+04,
         2.79374711e+04, -3.74811894e+03,  3.93676106e+02,
        -5.71130000e+02,  9.52954001e+03],
       [ 4.01363394e+05,  3.42605457e+04, -4.95629875e+03,
         5.01812926e+04, -1.43583439e+04,  5.60680435e+03,
        -7.68558747e+03, -3.86140702e+03],
       [ 1.02449927e+05, -1.58715166e+04,  5.77134086e+03,
         6.65636188e+02, -6.97096847e+03,  5.99322251e+02,
        -1.55471791e+02,  2.82635671e+03],
       [ 8.51413419e+04, -1.43354172e+04, -4.82711199e+02,
        -7.86295967e+02, -2.64053769e+03,  1.04176074e+03,
         2.33393563e+03,  1.69437270e+03],
       [ 9.29869010e+04, -1.61484121e+04, -1.40676500e+03,
         2.85875430e+02, -1.42376842e+03, -1.52094511e+03,
         3.10083186e+03,  1.99418334e+03],
       [ 1.02565734e+05, -1.32168693e+04, -1.96370510e+03,
         4.02149170e+03,  8.80469217e+02, -7.01747259e+02,
         2.34239842e+03,  1.33152217e+03],
       [ 1.06820272e+05, -1.39035553e+04, -1.89520736e+03,
         2.87050049e+03,  1.94396701e+03, -1.61937085e+03,
         1.70293193e+03,  6.18182487e+02],
       [ 1.31639908e+05, -9.48333809e+03, -1.42062591e+03,
        -1.31334793e+03,  3.38319202e+03, -1.97415801e+03,
         4.21764183e+03,  2.26186854e+02],
       [ 2.01693202e+05, -1.70745568e+04,  5.66844281e+03,
         5.86199528e+03,  1.20115615e+04, -1.20466306e+04,
        -3.40884322e+03,  4.71593650e+03],
       [ 2.38372950e+05, -3.06524254e+04,  3.25994232e+04,
         8.85241121e+03,  1.41398288e+04, -7.52733720e+03,
         2.48824543e+02,  5.78481923e+02],
       [ 1.00305408e+05, -1.34371993e+04, -5.29870072e+02,
        -6.30559006e+02,  1.33997000e+03, -8.44533411e+01,
         1.88432338e+03, -1.84243348e+02],
       [ 1.10754344e+05, -1.38713126e+04, -8.46823705e+02,
        -4.95343185e+03, -1.69187188e+03,  1.35134085e+03,
         3.75406221e+03,  1.65255476e+03],
       [ 1.15697155e+05, -1.28419855e+04, -9.87582516e+02,
        -2.17094520e+03,  6.16199724e+02, -1.71469561e+03,
         3.66178257e+03, -1.62367072e+03],
       [ 1.20212428e+05, -9.41537926e+03, -4.36454706e+03,
        -2.87536234e+03,  8.52860054e+02, -2.85618415e+03,
         3.76278871e+03, -6.56027742e+02],
       [ 1.23124955e+05, -4.56109195e+03, -4.80958810e+03,
        -7.17042452e+02,  2.93741500e+03, -1.66507798e+03,
         6.33151391e+03, -2.22499982e+03],
       [ 1.31967655e+05, -2.32690249e+03, -6.82620341e+03,
        -1.50124733e+03,  3.15687002e+03, -2.89055536e+03,
         7.05690582e+03, -3.52867773e+03],
       [ 1.58156980e+05,  5.21264275e+03, -7.36968840e+03,
        -8.22532737e+03,  9.81444587e+02, -1.50393308e+03,
         6.31453935e+03, -1.55763282e+03],
       [ 1.97663361e+05,  1.70551157e+04, -8.93385335e+03,
        -8.18355297e+03,  2.78166054e+03, -3.64148139e+03,
         9.66952068e+03,  2.62334480e+03],
       [ 4.13605844e+05,  7.29489513e+04, -6.71638128e+03,
        -7.77475975e+03,  9.08439969e+03, -1.21917758e+04,
         9.61318478e+03, -2.48250453e+03],
       [ 2.56478568e+05,  8.15624152e+03,  3.04089116e+04,
         1.81043425e+04, -1.10656309e+04,  4.92871779e+02,
         1.38629630e+04, -6.65129917e+03],
       [ 1.06335237e+05, -1.21025554e+04,  8.36978704e+02,
         2.43625163e+03, -2.70257386e+03,  1.44699781e+01,
         3.39305726e+03, -1.18641509e+03],
       [ 1.00249813e+05, -1.31747583e+04, -2.11064423e+03,
         2.86789721e+03, -1.34394083e+02, -1.11916039e+01,
         2.62792948e+03, -2.38554101e+03],
       [ 9.59260287e+04, -1.31188524e+04, -3.92622347e+03,
         1.04011500e+03,  2.35991896e+03,  1.69917960e+03,
         1.84772994e+03, -1.57970534e+03],
       [ 9.77629197e+04, -1.15959012e+04, -6.06142093e+03,
         2.05891162e+03,  3.15229488e+03,  4.29045432e+02,
         1.84528097e+03, -3.15658211e+03],
       [ 9.81137033e+04, -1.37092570e+04, -4.41935203e+03,
         3.25887444e+03,  2.04043170e+03, -6.90663960e+02,
         2.32338986e+03, -4.67413586e+03],
       [ 9.88991402e+04, -1.30373058e+04, -4.82713717e+03,
         6.91947179e+02,  6.29062862e+02,  8.78144235e+02,
         3.14475278e+03, -4.98505718e+03],
       [ 1.01941236e+05, -1.07614131e+04, -7.10662885e+03,
         4.01897738e+03,  3.45836714e+03, -1.06001676e+03,
         1.99588312e+03, -4.69692367e+03],
       [ 1.03293218e+05, -1.07388841e+04, -7.32580508e+03,
         2.97082434e+03,  2.78307340e+03, -4.49706680e+01,
         8.78984933e+02, -5.90597958e+03]])

In [31]:
np.sum(svd == 0)

0